/*Estilos generales para la pagina*/
	body{
		font-family: Verdana,Geneva, sans-serif;
	}
	/* Estilos para alinear listas*/
	li.right{
		float:right;
	}
	li.left{
		float:left;
	}
	/*Las capas por defecto se alinearan a la izquierda*/
	div{
		float:left;
	}	
	.other{
		color:#828587;
		font-size: 16px;
		text-decoration: none;
	}
/*-----------------------------------*/
/*Estilos concretos para las partes de la web*/
	div#cabecera, div#cuerpo, div#pie{
		width: 100%;
	}
	/*Estilos para la cabecera*/
		div#cabecera{
            background: white;
            border-bottom: 1px #828587 solid;
		}
        a.title{
            color:black;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;	
		}
		a.title span{
			color:#2bde73;
		}
		a.log{
			color:#8dd5ff;
			font-size: 18px;
			text-decoration: none;
			display: none;
		}
		div#cabecera li.buscar{
			border-left: 1px solid #828587;
			display: none;
		}
		a.user{
            color:#8dd5ff;
            font-size: 22px;
            text-decoration: none;
		}
		div#cabecera ul, div#pie ul{
            list-style: none;
            margin: 0;
            padding: 0;	
		}
		div#cabecera ul li, div#pie ul li{
		  padding: 15px;
		}
	/*-----------------------------------*/
	/*Estilos para el cuerpo*/
        /*Fondo*/
            div#fondoCuerpo{
                background: #2bde73;
                width: inherit;
            }

		div#cuerpo{
            width: 100%;
            border-bottom: 1px solid #828587;
		}
		
        div#cuerpoContenido{
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 10%;
            padding-top: 60px;
            padding-right: 10%;
            padding-bottom: 60px;
            background: white;
        }
		div#categorias, div#importantes, div#patrocinados{
            background: white;
		}
		
		div#categorias{
		  display: none;
		}
		
        /*Estilos para eventos*/
            .evento{
                border: 1px solid #828587;
                width: 100%;
                margin-bottom: 10px;
                height: 200px;
            }
            .imagenEvento{
                width: 20%;
                height: inherit;
            }
            .descEvento{
                width: 80%;
                height: inherit;
                
            }
            .tituloEvento, .propEvento{
                margin: 25px 5%;
                border-left: 1.5px solid #828587;
                height: 150px;
            }
            .tituloEvento p, .propEvento p{
                margin: 0px 5%;
            }
		
		div#patrocinados{
			display:none;
		}
	/*-----------------------------------*/
	/*Estilos para el pie*/
        div#pie{
            background: #0f2105;
            border-top: 1px solid #828587;
        }
        div#pie a{
            color: #d9d9de;
            text-decoration: none;
        }
        div#pie li{
            border-right: 1px solid #828587;
        }
	/*-----------------------------------*/

/*-----------------------------------*/